@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
	--breakpoint-max-xs: 374px;
}
* {
	box-sizing: border-box;
}

body {
	height: 100%;
	font-family: "Inter", sans-serif;
}

button,
a {
	@apply cursor-pointer;
}
