@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
	--breakpoint-max-xs: 374px;
}
* {
	box-sizing: border-box;
}

body {
	height: 100%;
	font-family: "Inter", sans-serif;
}

button,
a,
option,
select {
	@apply cursor-pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator {
	filter: invert(0.5) sepia(1) saturate(5) hue-rotate(180deg);
	cursor: pointer;
}

